.container
  -# %ul
  -#   - @board.errors.full_messages.each do |message|
  -#     %li= message
  = form_with(model: @task, url: board_task_path(@board, @task), local: true) do |f|
    %div
      = f.label :eyecatch, 'アイキャッチ'
    %div
      = f.file_field :eyecatch
    %div
      = f.label :content, '内容'
    %div
      = f.text_area :content, class: 'text'
    %div
      = f.label :date, '期限'
    %div
      = f.text_area :date, class: 'text'
    %div
      = f.submit '保存',  class: 'submit-btn'