.container
  - if user_signed_in? && current_user.tasks.exists?(id: @task.id)
    .dropdown.task__menu
      = image_tag 'actions.svg', class: 'board__dropbtn'
      .dropdown-content.mini
        = link_to '編集する', edit_board_task_path(@board, @task)
        = link_to '削除する', board_task_path(@board, @task), data: { method: 'delete', confirm: '本当に削除してよい？'}
  %h1.sectionTitle= @task.title
  -if @task.eyecatch.attached?
    .task__eyecatch= image_tag @task.eyecatch
  .task
    .task__content= @task.content

  .comments
  %h2.comments__title Comment
  - @comment.each do |comment|
    .comments__comment
      .comments__icon.avatarIcon=image_tag comment.user.avatar_image
      %p.comments__text= comment.content

  .newComment
    = link_to '+ Add new Comment', new_board_task_comment_path(@board, @task)