.container
  %h1.sectionTitle All Boards
  - @boards.each do |board|
    .board
      .board__menu
        - if user_signed_in? && current_user.has_written?(board)
          .board_detail_actions
            .dropdown
              = image_tag 'actions.svg', class: 'dropbtn'
              .dropdown-content.mini
                = link_to '編集する', edit_board_path(board.id)
                = link_to '削除する', board_path(board.id), data: { method: 'delete', confirm: '本当に削除してよい？'}
      .board__body
        = link_to board_path(id: board.id) do
          .board__title= board.title
          .board__content= board.content
          .avatarIcon= image_tag board.user.avatar_image
  .newBoard
    = link_to '+ Add new board', new_board_path, class: "newBoard__link"